@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,400;1,500;1,900&display=swap');

*{
	box-sizing: border-box;
}

body{
	margin: 0px;
	font-family: 'Roboto', sans-serif;
}
ul{
	margin: 0px;
	padding: 0px;
}
.container{
	max-width: 1200px;
	margin: 0 auto;
	padding:0 10px 0 10px;
}
.button{
	border-radius: 10px;
	color: #fff;
	width: 120px;
	background-color: #000;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	padding: 10px;
	font-sizy: 17px;
}
.button:hover{
	box-shadow: 0 0 10px #000;
	transition: 0.4s;
}
.button:active{
	box-shadow: none;
	transition: 0.0s;
}
.menu{
	background-color: #fff;
	text-align: center;
	position: fixed;
	width: 100%;
	}
.menu a{
	text-decoration: none;
	width: 20%;
	display: inline-block;
	padding: 13px 0 13px 0;
	color: #000;
}

/*_____header_____*/
.header{
	background: url(../img/polygons.png) 0 0/cover fixed no-repeat;
	padding: 200px 50px;
	text-align: center; 
	color: #fff;
	text-shadow: 0 0 10px #000;
}
.header__subtitle{
	opacity: 0.9;
	font-size: 90%;
}
.header__button{
	background-color: #fff;
	color: #000;
}
.header__button:hover{
	background-color: #000;
	color: #fff;
	transition: 0.4;
}
/*_____about_____*/
.about{
	padding: 30px; 
}
.about__title{
	color: #000;
}
.about__block{
	max-width: 1200px;
	margin: 0 auto;
}
.about__text{
	text-align: justify;
}
.about__image{
	float: right;
	width: 500px;
}
@media (max-width: 576px){
	.about__image{
	width: 100%;
}
}
h2{
	text-align: center;
	font-family: 'Marck Script';
}
/*_____team_____*/
.team{
padding: 30px;
+
}
@media(max-width: 576px){
	.team{
		padding: 0px;
	}
}
.team__title{
	color: #000;w
}
.team__subtitle{
	text-align: center;
}
.team__row{
	max-width: 1200px;
	margin: 0 auto;
}
.team__block{
	border: 2px solid #fff;
	width: 22%;
	padding: 10px;
	display: inline-block;
	margin: 10px;
	box-shadow: 0 0 14px #000;
	vertical-align: top;
}
@media(max-width: 576px){
	.team__block{
		display: block;
		width: 100%;
		margin: 0px;
	}
}
.team__image{
	width: 100%;
}
.team__button {
	background-color: #055b73;
	width: 100%;
	text-align: center;
}
.team__text{
	margin-top: 20px;
	margin-bottom: 20px;
	opacity: 0.8;
	font-size: 15px;
}
.team__label{
	font-weight: 600;
	font-size: 20px;
}
.team__description{
	font-size: 13px;
	margin-bottom: 6px;
}
.team__size{
	height: 60px;
}
/*______price______*/
.price{
	padding: 50px;
	background-color: #616161;
}
.price__subtitle{
	text-align: center;
	color: #fff;
}
.price__row{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
@media(max-width: 576px){
	.price__row{
		display: block;
	}
}
.price__block{
	box-shadow: 0 0 10px #fff;
	width: 30%;
	text-align: center;
}
@media(max-width: 576px){
	.price__block{
		width: 100%;
	}
}
.price__block{
	background-color: #fff;
}
h2{
	color: #fff;
}
.price__block li{
	list-style-type: none;
	border-bottom: 1px solid #666;
	padding: 20px;
}
.price__block-title{
	background-color: #000;
	color: #fff;
	margin: 0px;
	padding: 30px;
}
.price__block-title-big{
	background-color: #055b73;
	padding: 60px;
}
.bold{
	font-size: 27px;
}
.price__button{
    border-radius: 10px;
	color: #fff;
	width: 140px;
	background-color: #000;
	display: block;
	margin: 0 auto;
	text-decoration: none;
	padding-top: 14px;
	padding-bottom: 12px;
	font-sizy: 17px;
	box-shadow: 0 4px 0px #000;
	border: 1px solid #000;
	position: relative;
}
.price__button:hover{
	background-color: #fff;
	color: #000;
}
.price__button:active{
	top: 2px;
	box-shadow: 0 0.4px 0 #000;
	transition-duration: 40ms;
}
.price__block li:nth-child(6){
	border-bottom: none;
	background-color: #f1f1f1;
}
span{
	font-weight: 700;
}
/*______contact______*/
.contact__title{
	color: #000;
}
.contact__subtitle{
	text-align: center;
}
.contact__addres{
	position: relative;
	margin-left: 35px;
}
.contact__addres:before{
	content: '';
	width: 27px;
	height: 27px;
	background: url(../img/address.png) 0 0/cover no-repeat;
	display: inline-block;
	position: absolute;
	left: -35px;
	bottom: -3px;
}
.contact__phone{
	position: relative;
	margin-left: 35px;
}
.contact__phone:before{
	content: '';
	width: 27px;
	height: 27px;
	background: url(../img/phone.png) 0 0/cover no-repeat;
	display: inline-block;
	position: absolute;
	left: -35px;
	bottom: -3px;
}
.contact__email{
	position: relative;
	margin-left: 35px;
}
.contact__email:before{
	content: '';
	width: 27px;
	height: 27px;
	background: url(../img/mail.png) 0 0/cover no-repeat;
	display: inline-block;
	position: absolute;
	left: -35px;
	bottom: -3px;
}
input{
	display: block;
	width: 100%;
	padding: 9px;
	margin: 10px 0 10px 0 ;
	border: 1.5px solid grey;
}
label{
	font-weight: ;
}
textarea{
	display: block;
	width: 100%;
	padding: 9px;
	margin: 10px 0 10px 0 ;
	border: 1.5px solid grey;
}
.footer{
	background-color: #000;
	color: #fff;
	padding: 10px 0 10px 0;
}
.footer__row{
	display: flex;
    justify-content: space-between;
}
.footer__text{
	margin: 0px;

}
.footer__label{
	margin: 0px;
	text-transform: uppercase;
}
/*-------Media Queries-------*/
/*992-1200px laptop notebook*/
@media (max-width: 1200px){
	.container{
		max-width: 992px;
	}
}

/*992-1200px tablet*/
@media (max-width: 992px){
	.container{
		max-width: 768px;
	}
}

/*992-1200px laptop notebook*/
@media (max-width: 768px){
	.container{
		max-width: 576px;
	}
}

